@import "/src/assets/styles/helpers/variables";

.card {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  border: 1px solid $border;
  background-color: $cardBg;
  flex-basis: calc(100% / 4);
}

.imageContainer {
  width: 100%;
  height: 10rem;
  position: relative;
}

.title {
  color: $text-primary;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 400;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 0.5rem;
  color: $text-primary;
  > :first-child {
    color: $text-tertiary;
    font-size: 0.875rem;
  }
  div {
    display: flex;
    gap: 0.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    :last-child {
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
}
