@import "/src/assets/styles/helpers/variables";

.card {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  border: 1px solid $border;
  background-color: $cardBg;
  flex-basis: 100%;
  position: relative;
  > h5 {
    background-color: $active;
    color: $cardBg;
    font-weight: 300;
    padding: 0.125rem 0.25rem;
    border-radius: 50px;
    width: fit-content;
    position: absolute;
    z-index: 2;
    left: 1rem;
    top: 0.75rem;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .card {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .card {
    flex-basis: calc(100% / 3);
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .card {
    flex-basis: calc(100% / 4);
  }
}

.imageContainer {
  width: 100%;
  height: 10rem;
  position: relative;
}

.title {
  color: $text-primary;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 400;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 0.5rem;
  color: $text-primary;
  > :first-child {
    color: $text-tertiary;
    font-size: 0.875rem;
  }
  div {
    display: flex;
    gap: 0.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    :last-child {
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
}
