@import "/src/assets/styles/helpers/variables";

.filterWrapper {
  display: flex;
  transition: all 300ms linear;
  width: 100%;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 2px solid $border;
  background-color: $cardBg;
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
  > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > svg {
      color: $text-tertiary;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: rotate(-180deg);
      }
    }
    > h3 {
      color: $text-secondary;
      font-weight: 500;
      font-size: 1.75rem;
      cursor: pointer;
      user-select: none;
    }
  }
  h4 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-size: 1.25rem;
    color: $text-tertiary;
  }
  > hr {
    border-color: $border;
    width: 100%;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .filterWrapper {
    width: 40%;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .filterWrapper {
    width: 30%;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .filterWrapper {
    width: 20%;
  }
}

.categoriesWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  > div {
    > :first-child {
      color: $text-primary;
      font-size: 1.125rem;
      font-weight: 400;
      display: flex;
      gap: 0.75rem;
      align-items: center;
      cursor: pointer;
    }
    :hover {
      color: #c0c0c0;
    }
    > :last-child {
      padding-right: 2rem;
      color: $text-tertiary;
      font-size: 1rem;
      font-weight: 300;
      cursor: pointer;
    }
  }
}

.isActive {
  color: $active !important;
}

.merchantWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 10rem;
    overflow: scroll;
    > div {
      display: flex;
      cursor: pointer;
      gap: 0.25rem;
      font-size: 0.875rem;
      font-weight: 300;
      align-items: center;
      user-select: none;
    }
  }
}

.inputWrapper {
  flex-direction: row !important;
  align-items: center;
  background-color: $background;
  height: 2.75rem !important;
  border: 1px solid $text-secondary;
  overflow: hidden;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
  justify-content: space-between;
  > svg {
    color: $text-secondary;
  }
  > input {
    font-family: "vazir" !important;
    height: 100%;
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.open {
  height: 52rem;
  transition: all 300ms linear;
}
.close {
  height: 5rem;
  overflow: hidden;
}
